@font-face {
    font-family: 'ma_police';
    src: url('1942.ttf');
    /* créer une police téléchargé depuis internet  */
}
.imagefirefox
{
margin-left: 400px;
float: left ;


}

h1 {
    color: indigo;
    /*  mettre en forme le titre de la page     */
    font-size: xx-large;
    text-align: center;
    border: 3px, black solid;
    border-radius: 10px;
    box-shadow: 8px 8px 8px red;
    font-family: ma_police, Arial, Helvetica, sans-serif;
}

aside {
    color: blueviolet;
    text-align: right;
}

nav {
    width: 400px;
    height: 300px;
    /* mettre en forme le bloc avec l'image de roue     */
    border: 3px black solid;
    overflow: scroll;
    padding: 1px;
}

.premiertitre,
.deuxiemetitre {
    color: brown;
    text-align: center;
}

.section1 {
    width: 400px;
    height: 1000px;
    border: 3px blue solid;
    background-image: url("arriereplan.jpg");
    /*  mettre en forme la section avec l'arrière plan bleu     */
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 2px 2px;
    margin: auto;
}

footer {
    width: 100%;
    height: 200 px;
    background-color: grey;
    /* le pied de page      */
    text-align: right;
    margin-top: 100px;
}

.derniertitre {
    color: black;
    font-style: arial;
    /*  le titre du pied de page     */
    font-size: x-large;
    text-align: left;
}

.copyright {
    text-align: right;
    /*  pied de page     */
}

.email {
    text-align: left;
    /*  pied de page      */
}

.imageflottante {
    float: left;
    /*  image de roue     */
}

.article1 {
    font-weight: bold;
    text-decoration: underline;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /*  mise en page de l'article1 contenu dans la section 1 */
    text-shadow: 2px 2px 4px blanchedalmond;
    font-size: x-large;
}

.imagetrump {
    margin-top: 20px;
    /*  image de trump     */
}

a[title*="website"] {
    color: red;
    /* le lien du site motherfucker initial      */
}

h3 {
    color: seagreen;
}

.article2 {
    border: 3px black double;
    width: 300px;
    height:250 px;
    /*article en haut a gauche       */
    margin: 5px;
    padding: 3px;
    box-shadow: 5px 5px 3px black;
}

span {
    color: red;
    /* le mot motherfucker */
}

.troisiemetitre {
    color: rgb(233, 43, 46);
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* titre de la deuxieme section en bas avec fond orangé */
    text-align: center;
}

.section2 {
    width: 90%;
    height: 200px;
    border: 3px red solid;
    background-color: sandybrown;
    box-shadow: 5px 5px 3px slateblue;
    border-radius: 5px;
    /* section en orangé */
    text-align: left;
    text-decoration: wavy;
    margin-top: 30px;
    padding: 3px;
}